html {
	color: black;
}
body { background-color: lightblue;
}
h1 { color: white;
     text-align: center;
}
table, th, td {
    border:1px solid black;
	font-family: rousso;
	font-size:10px;
}
